header.header {
    display: flex;
    background-color: $primary;
    color: white;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    h1 {
        margin-left: 50px;
    }
    .nav {
        list-style: none;
        display: flex;
        justify-content: space-between;
        li {
            width: 100px;
            font-size: 16px;
            a {
                text-decoration: none;
                color: inherit;
                // padding: 20px;
                &.active, &:hover {
                    // background-color: $secondary;
                    color: $secondary;
                }
            }
        }
    }
}