.loader {
  border: 8px solid #ccc; /* Light grey */
  border-top: 8px solid #555; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Message d'erreur */
.error {
  background-color: red;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  margin-bottom: 20px;
}
.App {
  /* background-color:rgb(244, 156, 33); */
  /* background-color:#287fb8; */
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.error-msg {
  margin-top: 10px;
}

.center-text {
  text-align: center;
}